
$haus: 'Georgia';
// $haus--ext: 'GT-America-Trial-Expanded';
// $display: 'albertusnova';

@font-face{
  font-family: haus;
  font-weight: 300;

}
@font-face{
  font-family: haus;
  font-weight: 500;

}
@font-face{

}

@font-face{

}
// @font-face{
//   font-family: display;
//   src: url('../assets/fonts/#{$display}bold.ttf');
//   font-weight: 500;
// }
// @font-face{
//   font-family: display;
//   src: url('../assets/fonts/#{$display}black.ttf');
//   font-weight: 800;
// }
