<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    {{> meta }}
    <link href="/css/app.css?v={{version}}" crossorigin="anonymous" media="all" rel="stylesheet">
    <!-- <link rel="stylesheet" href="//basehold.it/14/ff0000"> -->
  </head>
  <body class="static">
    {{> masthead }}


  {{{contents}}}


  </body>
</html>
